.CardContainer{
    width: 900px;
    position: absolute;
    top: 310px;
    right: -575px;
}
.conversationIcon{
    width: 150px;
    height: 80px;
    position: relative;
    right: 65px;
   background-size: 50px;
}
.card{
    position: absolute;
    border-radius: 15px !important;
    
} 
.ellipsish{
    position: absolute;
    left: 210px;
    top: 40px;
    color: darkgray;
}
.cardimage{
    border-radius: 15px !important;
    width: 200px !important;
    position: relative;
    left: 25px;
    top: 20px;
    height: 220px !important;
    
}
.cardDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    margin-top: 15px;
}


.cardTitle{
    font-size: 15px !important;
    font-family: 'Averta pe semi bold';
  font-weight: bold !important;
}
.cardDesc{
    font-size: 19px !important;
font-weight: bold !important;


}
.highestBid{
    font-size: 15px;
font-weight: bolder;

}
.highestBid span{
    color: darkgray;
}
