.Explore-Container{
    display: flex;
    position: absolute;
    top: 200px;
    left: 18px;
}
.Explore-Container h1{
    font-family: 'RM Elegance Regular ';

}
.Category-Container {
    margin-left: 30px;
}

.Category-Container a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'RM Elegance Regular ' ;
    color: black !important;

    
}

.Category-Container a:hover { 
    color: rgb(248, 240, 240) !important;

}
.button{
    border-radius: 20px !important;
    font-size: 15px !important;
    background-color: rgb(244, 234, 234) !important;
    border: 1px solid rgb(242, 244, 234) !important;
    color: black !important;
    
}
.button:hover{
    background-color: #ff9e68 !important;
    border: 1px solid #ff9e68!important;
    color: white !important;

}
.button:active{
    background-color: rgb(33, 22, 22) !important;
    border: 1px solid rgb(25, 20, 20) !important;

}

.Palette{
    position: relative;
    left: 5px;
}

.PhotoCamera{
    position: relative;
    right: 20px;
    left: 65px;
    margin-left: 10px;
    bottom: 30px;

margin-left: 5px;
}


.Games{
    position: relative;
    right: 20px;
    left: 50px;
margin-left: 5px;
bottom: 30px;

}
